# Dependency directories
**/node_modules/

# Nuxt.js build / generate output
**/.nuxt
**/.output

# Git
**/!.gitkeep

# Environment variables
**/.env

# ESLint
**/.eslintcache

# Playwright
**/tests/e2e/report
**/tests/e2e/results
