/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable plugin/no-unsupported-browser-features */

@layer theme {
  :root, :host {
    --color-vio-primary-bg: var(--color-yellow-500);
    --color-vio-primary-text: var(--color-gray-900);
    --text-xs--line-height: var(--line-height-snug);
    --text-sm--line-height: var(--line-height-snug);
    --text-base--line-height: var(--line-height-snug);
    --text-lg--line-height: var(--line-height-snug);
    --text-xl--line-height: var(--line-height-snug);
    --text-2xl--line-height: var(--line-height-snug);
    --text-3xl--line-height: var(--line-height-snug);
    --text-4xl--line-height: var(--line-height-snug);
    --text-5xl--line-height: var(--line-height-snug);
    --text-6xl--line-height: var(--line-height-snug);
    --text-7xl--line-height: var(--line-height-snug);
    --text-8xl--line-height: var(--line-height-snug);
    --text-9xl--line-height: var(--line-height-snug);
  }
}

@layer components {
  .bg-creal {
    background-image: url("/creal.webp")
  }
}
