name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@6989da1490699f854d6556dd2d9b862f5cbdd305 # 5.0.0-beta.1
    permissions:
      pull-requests: read
  release_semantic_dry:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@6989da1490699f854d6556dd2d9b862f5cbdd305 # 5.0.0-beta.1
    permissions:
      contents: write
      id-token: write
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      APT_PACKAGES: mkcert
      DRY_RUN: true
      GH_APP_ID: ${{ vars.GH_APP_ID }}
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@6989da1490699f854d6556dd2d9b862f5cbdd305 # 5.0.0-beta.1
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      TAG: ${{ needs.release_semantic_dry.outputs.new_release_version }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@6989da1490699f854d6556dd2d9b862f5cbdd305 # 5.0.0-beta.1
    permissions:
      contents: write
      id-token: write
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      APT_PACKAGES: mkcert
      GH_APP_ID: ${{ vars.GH_APP_ID }}
